<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/dazno007/IdeaProjects/UkeessTestTask">
        <classes>
            <class name="Ukeess.TestScenarios.TestMethods"></class>
        </classes>
    </test>
</suite>